<section>

  <div id="content" #content>

    <div class="header">


      <div class="titulo_header">
        <h2>SERVIÇOS DE SAÚDE</h2>
        <p> CODRAM 8.10.10 - HOSPITAIS  SEM   PROCEDIMENTOS </p>
        <p>  <b>CODRAM 8.10 - HOSPITAIS  CLINICAS   PACATUBA</b>  </p>
      </div>
    </div>

    <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th>Bairro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>kelvis mendes</td>
            <td>61295786362</td>
            <td>85945645</td>
            <td>Pacatuba</td>
            <td>Pavuna</td>
          </tr>
          <tr>
            <td>kelvis mendes</td>
            <td>61295786362</td>
            <td>456464656</td>
            <td>Pacatuba</td>
            <td>Pavuna</td>

          </tr>
          <tr>
            <td>kelvis mendes</td>
            <td>61295786362</td>
            <td>465446456</td>
            <td>Pacatuba</td>
            <td>Pavuna</td>

          </tr>
        </tbody>
    </table>
  </div>

  <button class="btn" (click)="printSimplePDF()">
    download
  </button>

</section>
